
/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-header: #2C3E50;
  --color-hero: #1ABC9C;
}


/* utilities */

.debug{
  border: 1px solid firebrick;
  background-color: bisque;
}

[class ^= "container"],
[class ^= "col"],
.my-container,
body>*{
  border: 1px solid firebrick;
  background-color: bisque;
  min-height: 90px;
}

.my-container{
  max-width: 650px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}


/* HEADER */
header {
  height: 90px;
  background-color: var(--color-header);
}

/* HERO */
.hero{
  height: 590px;
  background-color: var(--color-hero);
}


/* MAIN */

/* FOOTER */