
/* GENERAL */
:root{
  /* dim*/
  --header-height: 490px;
  --col-img: 385px;

  /* palette */
  --color-header: #2C3E50;
}

/* utilities */
/* 
[class ^= "container"],
[class ^= "col"]{
  background-color: bisque;
  border: 1px solid firebrick;
  min-height: 50px;
} */


.debug{
  border: 1px solid firebrick;
  background-color: bisque;
}

/* .viole{
  background-color: blueviolet ;
} */

.my-container{
  width: 60%;
  margin: 0 auto;
}

/* HEADER */
header{
  height: 90px;
  background-color: var(--color-header);
}

header nav .navbar-toggler{
  border: 1px solid white;
}

header nav .nav-link{
  color: white;
}

/* JUMBOTRON */

.hero{
  height: var(--header-height);
  background-color: #31BC9C;
}

.hero img{
  height: 265px;
}

/* STAR  */
.line{
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: white;
}

.star [class^="bi-"]::before, [class*=" bi-"]::before{
  font-size: 30px;
}

/* PORTFOLIO  */
.portfolio .star.dark .line,
.contact .line{
  background-color: black;
}


/* MAIN */

.cards .col{
  padding-bottom: 30px;
}

.cards .col img{
  border-radius: 10px;
}

/* ABOUT */
.about{
  background-color: #31BC9C;
  color: white;
}

/* CONTACT */
.contact{
  color: black;
}

.contact form input::placeholder,
form textarea + label{
  color: black;
  font-size: 1.2rem;
}

.form-floating > .form-control, .form-floating > .form-control-plaintext, .form-floating > .form-select{
  height: 170px;
}

.contact form .form-control{
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
}

.contact form .btn-primary{
  background-color:#31BC9C;
  border: none;
}

.form{
  /* DEBUG */
  height: 500px;
}

/* FOOTER */

footer .footer-top{
  background-color:#3A546D;
}

footer .footer-bottom{
  background-color: var(--color-header);
}

@media screen and (min-width: 776px){
  :root{
    --header-height: 585px;
    --col-img: 330px;
  }

  .navbar-brand{
    font-size: 25px;
  }
}