
/* GENERAL */
:root{
  --color-header: #2C3E50;
}

/* utilities */

/* [class ^= "container"],
[class ^= "col"]{
  background-color: bisque;
  border: 1px solid firebrick;
  min-height: 50px;
} */


.debug{
  border: 1px solid firebrick;
  background-color: bisque;
}


.my-container{
  width: 60%;
  margin: 0 auto;
}

/* HEADER */
header{
  height: 90px;
  background-color: var(--color-header);
}

header nav .navbar-toggler{
  border: 1px solid white;
}

header nav .nav-link{
  color: white;
}

/* JUMBOTRON */

.jumbotron{
  height: 490px;
  background-color: #31BC9C;
}

/* MAIN */

.cards .col{
  /* DEBUG */
  height: 150px;
}

.about{
  background-color: #31BC9C;
}

.form{
  /* DEBUG */
  height: 500px;
}

/* FOOTER */

footer{
  background-color:#3A546D;
}

@media screen and (min-width: 776px){
  .navbar-brand{
    font-size: 25px;
  }
}